.cmp-category--container {
	padding: 10px;
}
.cmp-category--container:hover {
	background: rgba(140, 140, 140, 0.089);
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
}
.cmp-category--icon {
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
	background: lightblue;
	border-radius: 50px;
}
