footer {
	margin-top: auto;
	bottom: 0;
}

.cmp-footer--container {
	background-color: rgb(245, 245, 245);
}

.cmp-footer--top-section {
	width: 100%;
	padding: 5px;
	border-top: 1px solid rgba(179, 176, 176, 0.297);
	border-bottom: 2px solid rgba(179, 176, 176, 0.438);
}

.cmp-footer--top-links {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin-left: 25%;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;

	div {
		margin: 0 10px;
		color: gray;
	}
}
