@import "/src/styles/site/breakpoints";

.cmp-header--container {
	display: flex;
	flex-direction: column;
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	overflow: hidden;
}
.cmp-header--primary-container {
	width: 100%;
	border-bottom: 1px solid lightgrey;
}
.cmp-header--primary-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
	padding: 15px;
	z-index: 12;
	width: 80%;
	margin: auto;

	@include desktop-only {
		width: 65%;
	}
}

.cmp-header--secondary-container {
	display: none;

	@include desktop-only {
		display: block;
	}
	width: 100%;
	border-bottom: 1px solid blargba(0, 0, 0, 0.384);
}
.cmp-header--secondary-nav {
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-height: 60px;
	// height: 70px;
	overflow: hidden;

	a {
		color: black;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.cmp-header--logo-container {
	min-height: 40px;
	min-width: 130px;
}

.cmp-header--search {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.145);

	@include tablet-down {
		display: none;
	}
	// border: 1px solid black;
	width: 300px;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
	overflow: hidden;
	input {
		border: none;
		height: 100%;
		padding: 15px;
		background-color: transparent;
		width: -webkit-fill-available;
	}

	input:focus {
		outline: none;
	}
}

.cmp-header--logo {
	height: 40px;
	width: 123px;
	background-image: url("../../header-logo.svg");
}

.cmp-header--toolbar {
	display: flex;
	flex-direction: row;
}

.cmp-header--mobile-menu {
	@include desktop-only {
		display: none;
	}
}
.cmp-header--login-button {
	@include tablet-down {
		display: none;
	}
}
