@import "/src/styles/site/breakpoints";
.cmp-teaser--container {
	padding: 20px;
	margin-bottom: 40px;

	@include mobile-only {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		color: black;
	}
}

.cmp-teaser--wrapper {
	background: grey;
	height: 400px;
	width: 275px;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.cmp-teaser--container:hover {
	background: rgba(140, 140, 140, 0.089);
	border-radius: 10px;
}
.cmp-teaser--wrapper:hover {
	cursor: pointer;
}
.cmp-teaser--top-section {
	height: 60%;
	width: 100%;
	background: lightblue;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.cmp-teaser--bottom-section {
	height: 40%;
	width: 100%;
	background: white;
	padding: 10px;
}
