@import "/src/styles/site/breakpoints";

.cmp-landingpage--category-container {
	margin-bottom: 80px;
}
.categories-header {
	background: linear-gradient(135deg, #b9ffa4, #89e7da);
	padding: 50px 30px 100px 30px;
	margin-top: 0px;

	@include mobile-only {
		padding-bottom: 250px;
	}
}
.categories-content {
	display: flex;
	flex-direction: row;
	width: 45%;
	margin: auto;
	justify-content: space-around;
	margin-top: -90px;
	flex-wrap: wrap;

	@include mobile-only {
		margin-top: -240px;
		min-width: 250px;
	}

	@include tablet-only {
		min-width: 450px;
		max-width: 470px;
	}

	@include desktop-only {
		min-width: 750px;
	}
}

.seller-section {
	width: 60%;
	margin: auto;
	@include tablet-down {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.seller-conatainer {
	width: 100%;
}
.seller-header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 24px;
	@include tablet-down {
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	h2 {
		margin-left: 16px;
		color: red;
	}
}

.seller-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	@include mobile-only {
		flex-direction: column;
		align-items: center;
		align-self: center;
	}

	@include tablet-only {
		flex-wrap: wrap;
		align-self: center;
		min-width: 650px;
	}
}
